
h1{
    text-align: center;
    color: rgb(218, 137, 32);
    font-weight: 600;
    font-size: 55px;
}
h1 span{
    color: red;
}
.main{
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 10px;
}
.image {
    width: 40%;
}
.saving-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    
}
.hidden-1{
    font-size: 15px;
    position: relative;
    right: -44px;
    bottom: -30px;
    display: none;
}
.hidden{
    font-size: 15px;
    position: relative;
    bottom: -30px;
    display: none;
}
.hidden-2{
    font-size: 15px;
    position: relative;
    bottom: -30px;
    left: -65px;
    display: none;
}
.hidden-3{
    font-size: 15px;
    position: relative;
    bottom: -30px;
    display: none;
}
.red{
    color: red;
}
.expense-div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.input-div{
    display: flex;
    align-items: center;
}
.save-div{
    display: flex;
    align-items: center;
}
.save-div div{
    display: flex;
    align-items: center;
}
p{
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
}
input{
    height: 40px;
    width: 175px;
    border: none;
    border-radius: 4px;
    background-color: rgba(194, 185, 185, 0.568);
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 18px;
    
}
button{
    height: 40px;
    width: 150px;
    background-color: rgb(69, 133, 206);
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(125, 171, 224);
}

@media screen and (max-width: 768px) {
    .main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px, 10px;
}
.image {
    width: 350px;
    height: 475px;
    margin: 10px 5px;
    padding: 50px 5px;
}
.saving-container{
    width: 350px;
    height: 1000pxpx;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    
}
.save-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hidden-2{
    font-size: 15px;
    position: relative;
    bottom: -30px;
    left: 5px;
    display: none;
}
}